## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('D:\\ml-25m\\ml-25m\\ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [25]:
data[ data.rating == 5 ]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [21]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [55]:
power_baltic = power[ ((power['country'] == 'Latvia') | (power['country'] == 'Estonia') | (power['country'] == 'Lithuania')) & (power['quantity'] >= 0) ]
power_baltic[['country', 'quantity']].groupby('country').sum()

               quantity
country
Estonia    6.177554e+07
Latvia     2.167555e+07
Lithuania  3.466002e+07

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes 
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [64]:
pd.read_html('https://fortrader.org/quotes')

[                           Название     Цена  Изменение  Изменение(%)  \
 0  EURRUB Курс евро к рублю сегодня  80.0977    -2.0221       -2.4624
 1       USDRUB Курс рубля к доллару  73.4195    -2.2229       -2.9387

    Обновлено
 0        NaN
 1        NaN  ,
                            Название    Цена  Изменение  Изменение(%)  \
 0  Нефть (BRENT) Курс нефти сегодня  22.490      1.610         7.710
 1   Нефть (WTI) Цены на нефть (WTI)  17.820      3.330        22.980
 2          Сахар котировки на сахар  12.630      2.760        27.960
 3                   Газ Цена на газ   1.875     -0.063        -3.251

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN  ,
                       Название      Цена  Изменение  Изменение(%)  Обновлено
 0      Серебро Цена на серебро    15.270     0.2060        1.3670        NaN
 1    Палладий Цена на Палладий  1980.600    89.5000        4.7300        NaN
 2  Золото Цена золота на бирже  1753.800    18.7000        1.1000        NaN
 3      Платина Цены на платину   793.600    24.7000        3.2000        NaN
 4      Медь Цена меди на бирже     2.322     0.0415        1.8198        NaN,
                                         Название         Цена   Изменение  \
 0                                  ВТБ Акции ВТБ      0.03434   +0.000250
 1                         Газпром Акции газпрома    189.69000       +1.37
 2                            Лукойл Акции Лукойл   4940.00000  нет данных
 3                        Роснефть Акции Роснефти    336.15000  нет данных
 4                       Сбербанк Акции Сбербанка    191.60000       +1.59
 5           Сургутнефтегаз Акции Сургутнефтегаза     36.06000      +0.515
 6                      Норникель Акции Норникель  20384.00000  нет данных
 7                       Аэрофлот Акции Аерофлота     75.22000       +0.02
 8                    Северсталь Акции Северсталь    872.20000  нет данных
 9                    Транснефть Акции Транснефть      0.00000  нет данных
 10             Ростелеком Курс акций ростелекома     78.35000       +0.96
 11                    Алроса Акции АЛРОСА (ALRS)     63.12000      +1.650
 12                      РУСАЛ Акции РУСАЛ (RUAL)     26.19500      +0.405
 13                        НМЛК Акции НЛМК (NLMK)    128.30000      +2.660
 14                    Магнит Акции Магнит (MGNT)   3302.00000       +76.0
 15                  М.видео Акции М.видео (MVID)    357.60000       -3.50
 16    Газпром нефть Акции "Газпром нефть" (SIBN)    319.20000       +3.20
 17                        НМТП Акции НМТП (NMTP)      8.61500     -0.1050
 18            Полиметалл Акции Полиметалл (POLY)   1415.10000     -109.70
 19        Полюс Золото Акции Полюс Золото (PLZL)  11951.00000      -258.0
 20                  НОВАТЭК Акции НОВАТЭК (NVTK)    981.80000       +6.20
 21                РусГидро Акции РусГидро (HYDR)      0.63020     +0.0061
 22                Татнефть Акции Татнефть (TATN)    534.90000      +22.30
 23        АФК Система Акции АФК "Система" (AFKS)     13.82000      +0.168
 24                                 МТС Акции МТС    313.45000       +3.70
 25                Башнефть Акции Башнефть (BANE)   1726.00000       +37.0
 26                    Яндекс Акции Яндекс (YNDX)   2640.60000       -14.4
 27  X5 Retail Group Акции X5 Retail Group (FIVE)   2169.50000      -48.50
 28                                 ПАО «ФСК ЕЭС»      0.18230    +0.00570
 29                      Мечел Акции Мечел (MTLR)     68.81000       +3.74

    Изменение(%)  Обновлено
 0     +0.733353        NaN
 1         +0.73        NaN
 2    нет данных        NaN
 3    нет данных        NaN
 4         +0.84        NaN
 5        +1.449        NaN
 6    нет данных        NaN
 7         +0.03        NaN
 8    нет данных        NaN
 9    нет данных        NaN
 10        +1.24        NaN
 11       +2.684        NaN
 12       +1.570        NaN
 13       +2.117        NaN
 14         +2.4        NaN
 15        -0.97        NaN
 16        +1.01        NaN
 17      -1.2041        NaN
 18        -7.19        NaN
 19         -2.1        NaN
 20        +0.64        NaN
 21      +0.9774        NaN
 22        +4.35        NaN
 23       +1.231        NaN
 24        +1.19        NaN
 25         +2.2        NaN
 26         -0.5        NaN
 27        -2.19        NaN
 28     +3.22763        NaN
 29        +5.75        NaN  ,
                                              Название    Цена   Изменение  \
 0                       Макдональдс Акции Макдональдс  184.16       -2.32
 1                           Microsoft Microsoft Corp.  173.88       +0.36
 2                                   APPLE Акции APPLE  279.63       +3.87
 3                                Yandex Акции яндекса   35.46       +0.51
 4                                 Toyota Акции Тойоты  120.94  нет данных
 5                    Volkswagen Курс акций Volkswagen  121.12       +2.62
 6   Boeing Company (The) Common Sto Boeing Company...  141.62       +6.65
 7   Coca-Cola Company (The) Common Coca-Cola Compa...   45.87       +0.19
 8                        Facebook Цена акций Facebook  185.88       +3.60
 9                           Tesla Цены на акции Тесла  722.81       -9.30
 10                          Twiter Цена акций твитера   28.37       -0.07
 11                  Hasbro Цена на акции Hasbro, Inc.   74.12       -0.03

    Изменение(%)  Обновлено
 0         -1.24        NaN
 1         +0.21        NaN
 2         +1.40        NaN
 3         +1.46        NaN
 4    нет данных        NaN
 5         +2.21        NaN
 6         +4.93        NaN
 7         +0.42        NaN
 8         +1.97        NaN
 9         -1.27        NaN
 10        -0.25        NaN
 11        -0.04        NaN  ,
                                             Название       Цена  Изменение  \
 0         AUDCAD Australian Dollar / Canadian Dollar    0.89699    0.00384
 1                         EURUSD Курс евро к доллару    1.08131    0.00069
 2   AUDUSD Курс австралийского доллара к доллару сша    0.63899    0.00930
 3                          EURCHF Euro / Swiss Franc    1.05252    0.00117
 4                  EURGBP Euro / Great Britain Pound    0.87463   -0.00226
 5                         EURJPY Euro / Japanese Yen  116.40700   -0.11400
 6          GBPJPY Great Britain Pound / Japanese Yen  133.06700    0.20300
 7              NZDUSD New Zealand Dollar / US Dollar    0.60234    0.01015
 8                        GBPUSD Курс фунта к доллару    1.23609    0.00388
 9       USDCAD Курс канадского доллара к доллару сша    1.40391   -0.01455
 10                    USDCHF US Dollar / Swiss Franc    0.97338    0.00055
 11         USDCNH Курс китайского юаня к доллару США    7.08188   -0.01742
 12                        USDJPY Курс йены к доллару  107.65200   -0.17600

     Изменение(%)  Обновлено
 0        0.42994        NaN
 1        0.06385        NaN
 2        1.47692        NaN
 3        0.11129        NaN
 4       -0.25773        NaN
 5       -0.09800        NaN
 6        0.15300        NaN
 7        1.71398        NaN
 8        0.31488        NaN
 9       -1.02576        NaN
 10       0.05654        NaN
 11      -0.24538        NaN
 12      -0.16300        NaN  ,
                                              Название           Цена  \
 0                               Bitcoin Курс биткоина    7547.690000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)      43.205000
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     239.130000
 3                                           Dash Dash      82.710000
 4                                       Ripple Ripple       0.195440
 5                                   Ethereum Ethereum     188.450000
 6                                   EmerCoin EmerCoin            NaN
 7                                   NameCoin NameCoin            NaN
 8                                   PeerCoin PeerCoin            NaN
 9                             BTCRUB биткоин в рублях  247059.000000
 10                              BTCEUR биткоин в евро    6942.740000
 11                                        Zcash (ZEC)      45.033000
 12                                          NEO (NEO)       7.813900
 13                                          EOS (EOS)       2.700900
 14                                         TRON (TRX)       0.013550
 15                                             Monero      59.801000
 16                                            Cardano       0.037455
 17                                               IOTA       0.160830
 18                       ETC/USD эфириум классик, ETC       5.613900

      Изменение Изменение(%)  Обновлено
 0      +417.94        +5.86        NaN
 1       +1.300       +3.102        NaN
 2       +7.130       +3.073        NaN
 3        +1.87        +2.31        NaN
 4     +0.00697     +3.69820        NaN
 5       +6.520       +3.584        NaN
 6   нет данных   нет данных        NaN
 7   нет данных   нет данных        NaN
 8   нет данных   нет данных        NaN
 9   нет данных   нет данных        NaN
 10  нет данных   нет данных        NaN
 11      -0.482       -1.059        NaN
 12     +0.2657      +3.5200        NaN
 13     +0.0741      +2.8209        NaN
 14    +0.00056     +4.30619        NaN
 15      +2.780       +4.875        NaN
 16   +0.000896    +2.450833        NaN
 17    +0.00410     +2.61596        NaN
 18     +0.2238      +4.1521        NaN  ,
                                    Название       Цена   Изменение  \
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00  нет данных
 1                      РТС Курс индекса РТС    1099.67      +33.66
 2                                     DAX30   11541.90        0.00
 3                       Индекс Dow 30 (DJI)   23705.00        +229
 4                                      FTSE    7137.70    +1 367.1
 5                                    CAC 40    4423.00       +13.4
 6                                Nasdaq 100    8751.99      +87.36
 7                              Russell 2000    1226.60       +25.1
 8                                   S&P 500    2826.41   +2 738.40
 9                                   IBEX 35    6733.80       +23.6
 10                               Nikkei 225   19610.00        +361
 11                            Euro Stoxx 50    2844.30       +31.2
 12                              S&P/ASX 200    5263.30  нет данных
 13                                      MIB   16830.00  нет данных

    Изменение(%)  Обновлено
 0    нет данных        NaN
 1         +3.16        NaN
 2          0.00        NaN
 3            +1        NaN
 4         +23.7        NaN
 5          +0.3        NaN
 6         +1.01        NaN
 7          +2.1        NaN
 8     +3 111.46        NaN
 9          +0.4        NaN
 10           +2        NaN
 11         +1.1        NaN
 12   нет данных        NaN
 13   нет данных        NaN  ]